/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# misc
TODO.md
**/.DS_Store

# editor
/.calva
/.idea

/.cpcache

#env vars
env-local.sh