{:deps {:aliases [:cljs]}
 :dev-http {3000 {:root "resources/public"}}
 :nrepl    {:port 3333}
 :builds   {:app {:target     :browser
                  :output-dir "resources/public/js/compiled"
                  :asset-path "/js/compiled"
                  :modules    {:main {:init-fn com.github.christianalexa.quest.core/init}}
                  :devtools   {:after-load com.github.com.christianalexa.quest.core/mount-root
                               :preloads [day8.re-frame-10x.preload]}
                  :dev {:compiler-options {:closure-defines {re-frame.trace.trace-enabled? true
                                                             day8.re-frame.tracing.trace-enabled? true}}}}}}
